body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

#myForm {
    margin: auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#myForm input, #myForm button {
    box-sizing: border-box; /* Add this line */
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#myForm button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#myForm button:hover {
    background-color: #0056b3;
}

#book_shelf {
    margin-top: 50px;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.my-div {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.close-butt {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}

.close-butt:hover {
    background-color: #c82333;
}
